<!DOCTYPE HTML>
<html>
	<head>
    <title>{{ t['title'] }}</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{ t['description'] }}">
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
			<div id="wrapper">
					<header id="header">
						<div class="logo">
              <img id="logo-image" src="/images/logo.png" alt="Los Angeles Torrevieja" />
						</div>

						<div class="content">
							<div class="inner">
								<ul class="icons">
										<li><a href="/" class="{% if page.lang == 'en' %}active{% endif %}">EN</a></li>
										<li><a href="/es/" class="{% if page.lang == 'es' %}active{% endif %}">ES</a></li>
										<li><a href="/nl/" class="{% if page.lang == 'nl' %}active{% endif %}">NL</a></li>
										<li><a href="/fi/" class="{% if page.lang == 'fi' %}active{% endif %}">FI</a></li>
								</ul>

								<h1>Los Angeles Torrevieja</h1>

                <p>{{ t['tagline'] }}</p>

				<ul class="actions">
					<li><a href="https://www.pistas365.com/losangelespadel" target="_blank" class="button">{{ t['reserve'] }} {{t['padel']}}/{{t['football']}}</a></li>
				</ul>

                {% include socials.html %}
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">{{ t['intro'] }}</a></li>
								<li><a href="https://www.losangelescarrental.es" target="_blank">{{ t['cars'] }}</a></li>
								<li><a href="#events">{{ t['events'] }}</a></li>
								<li><a href="#contact">{{ t['contact'] }}</a></li>
							</ul>
						</nav>
					</header>