<div id="main">
    <div>
      <h2 class="major">{{ site.data.translations['intro'][page.lang] }}</h2>
      <span class="image main"><img src="/images/pool.jpg" alt="swimming pool" /></span>
  
      <h3>{{ site.data.translations['enjoy'][page.lang] }}</h3>
      <ul>
        <li>{{ site.data.translations['cocktailBar'][page.lang] }}</li>
        <li>{{ site.data.translations['restaurant'][page.lang] }}</li>
        <li>{{ site.data.translations['events'][page.lang] }}</li>
        <li>{{ site.data.translations['loungersAndSwimmingPool'][page.lang] }}</li>
        <li>{{ site.data.translations['tennisCourt'][page.lang] }}</li>
        <li>{{ site.data.translations['petanqueCourts'][page.lang] }}</li>
        <li>{{ site.data.translations['wifiInternet'][page.lang] }}</li>
      </ul>
  
      <h3>{{ site.data.translations['accessibility'][page.lang] }}</h3>
      <ul>
        <li>{{ site.data.translations['easyParking'][page.lang] }}</li>
        <li>{{ site.data.translations['childFriendly'][page.lang] }}</li>
        <li>{{ site.data.translations['accessibleToilets'][page.lang] }}</li>
        <li>{{ site.data.translations['bathrooms'][page.lang] }}</li>
        <li>{{ site.data.translations['dailyOpen'][page.lang] }}</li>
      </ul>
  
      <ul class="actions">
        <li><a href="#intro" class="button primary">{{ site.data.translations['intro'][page.lang] }}</a></li>
        <li><a href="#services" class="button">{{ site.data.translations['services'][page.lang] }}</a></li>
        <li><a href="#events" class="button">{{ site.data.translations['events'][page.lang] }}</a></li>
        <li><a href="#gallery" class="button">{{ site.data.translations['gallery'][page.lang] }}</a></li>
        <li><a href="#contact" class="button">{{ site.data.translations['contact'][page.lang] }}</a></li>
      </ul>
    </div>
  </div>