<div id="main">
  <article id="intro">
    <h2 class="major">{{ t['intro'] }}</h2>
    <span class="image main"><img src="/images/terrace.jpeg" alt="{{ t['activitiesOne'] }}" /></span>

    <h3>{{ t['cocktailBar'] }}</h3>
    <p>{{ t['cocktailsOne'] }}</p>
    <p>{{ t['cocktailsTwo'] }}</p>
    <p>{{ t['cocktailsThree'] }}</p>
    <span class="image main"><img src="/images/cocktailbar.jpg" alt="{{ t['cocktailBar'] }}" /></span>

    <h3>{{ t['restaurant'] }}</h3>
    <p>{{ t['restaurantOne'] }}</p>
    <p>{{ t['restaurantTwo'] }}</p>
    <span class="image main"><img src="/images/restaurant.jpeg" alt="{{ t['restaurant'] }}" /></span>

    <h3>{{ t['sauna'] }}</h3>
    <p>{{ t['saunaOne'] }}</p>
    <p>{{ t['saunaTwo'] }}</p>
    <span class="image main"><img src="/images/sauna.jpg" alt="{{ t['sauna'] }}" /></span>

    <h3>{{ t['events'] }}</h3>
    <ul>
      <li>{{ t['musicEvents'] }}</li>
      <li>{{ t['drinkEvents'] }}</li>
      <li>{{ t['foodEvents'] }}</li>
      <li>{{ t['groupEvents'] }}</li>
    </ul>
    <span class="image main"><img src="/images/oktoberfest.jpg" alt="{{ t['events'] }}" /></span>

    <h3>{{ t['activities'] }}</h3>
    <p>{{ t['activitiesOne'] }}</p>
    <span class="image main"><img src="/images/pool.jpeg" alt="{{ t['activitiesOne'] }}" /></span>

    <p>{{ t['activitiesTwo'] }}</p>
    <span class="image main"><img src="/images/tennis.jpeg" alt="{{ t['activitiesTwo'] }}" /></span>

    <p>{{ t['activitiesThree'] }}</p>
    <span class="image main"><img src="/images/petanque.jpeg" alt="{{ t['activitiesThree'] }}" /></span>

    <h3>{{ t['facilities'] }}</h3>
    <ul class="icons">
      <li><a href="#intro" class="icon fa-wifi"><span class="label">{{ t['wifiInternet'] }}</span></a></li>
      <li><a href="#intro" class="icon fa-car"><span class="label">{{ t['easyParking'] }}</span></a></li>
      <li><a href="#intro" class="icon fa-wheelchair"><span class="label">{{ t['accessibleToilets'] }}</span></a></li>
      <li><a href="#intro" class="icon fa-shower"><span class="label">{{ t['bathrooms'] }}</span></a></li>

    </ul>

    {% include menu.html active='intro' %}
  </article>

  <article id="services">
    <h2 class="major">{{ t['services'] }}</h2>
    <span class="image main"><img src="/images/party.jpeg" alt="{{ t['restaurantTwo'] }}" /></span>

    <h3>{{ t['rentThisLocation'] }}</h3>
    <p>{{ t['rentThisLocationTagline'] }}</p>

    <h3>{{ t['rentIndoorParkingSpace'] }}</h3>
    <p>{{ t['rentIndoorParkingSpaceTagline'] }}</p>

    <h3>{{ t['rentStorageSpace'] }}</h3>
    <p>{{ t['rentStorageSpaceTagline'] }}</p>

    {% include menu.html active='services' %}
  </article>

  <article id="events">
    <h2 class="major">{{ t['events'] }}</h2>
    <p>{{ t['comingSoon'] }}</p>
    <ul class="actions">
      <li>{{ t['wednesday'] }}: {{ t['country'] }}</li>
      <li>{{ t['thursday'] }}: {{ t['karaoke'] }}</li>
      <li>{{ t['friday'] }}: {{ t['oldies'] }}</li>
      <li>{{ t['saturday'] }}: {{ t['duoAzahara'] }}</li>
      <li>{{ t['sunday'] }}: {{ t['gretelAndJuan'] }} </li>
    </ul>

    {% include menu.html active='events' %}
  </article>

  <article id="contact">
    <h2 class="major">{{ t['contact'] }}</h2>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.5627822338415!2d-0.6686070488856826!3d37.98733160757466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63aa1020e1b04b%3A0x9858055b0a093fe!2sPlaza+de+los+Halcones%2C+27%2C+03183+Torrevieja%2C+Alicante%2C+Spanje!5e0!3m2!1snl!2sbe!4v1559307885164!5m2!1snl!2sbe" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br><br>
    <ul class="actions">
      <li><a href="https://www.google.com/maps/dir//%2737.9873274,-0.666413%27" target="_blank" class="button">{{ t['getDirections'] }}</a></li>
      <li><a href="mailto:info@losangelestorrevieja.com" target="_blank" class="button">{{ t['sendEmail'] }}</a></li>
      <li><a href="tel:+32-496-12-59-66" target="_blank" class="button">{{ t['callNow'] }}</a></li>
    </ul>

    <h3>{{ t['openingHours'] }}</h3>
    <p>{{ t['dailyOpen'] }}</p>

    <h3>{{ t['address'] }}</h3>
    <p>
      <a href="https://www.google.com/maps/dir//%2737.9873274,-0.666413%27" target="_blank">
        Plaza de los Halcones 27 <br>
        03183 Torrevieja, Alicante, España
      </a>
    </p>

    <h3>{{ t['email'] }}</h3>
    <p><a href="mailto:info@losangelestorrevieja.com">info@losangelestorrevieja.com</a></p>

    <h3>{{ t['phone'] }}</h3>
    <p><a href="tel:655620836">655 620 836</a></p>

    <h3>{{ t['socialMedia'] }}</h3>
    {% include socials.html %}
    
    <h3>{{ t['recommendUs'] }}</h3>
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FLosAngelesTorrevieja%2F&width=320&layout=button_count&action=recommend&size=large&show_faces=true&share=true&height=46&appId" width="320" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    
    <h3>{{ t['advertisement'] }}</h3>
    <p>
      {{ t['read'] }} 
      <a href="https://www.costakrant.com/recenteeditie/" target="_blank" class="underline">De CostaKrant</a> <br>
      {{ t['listen'] }} 
      <a href="https://radiocosta.eu/listen-live/" target="_blank" class="underline">Radio Costa</a>
    </p>
    
    {% include menu.html active='contact' %}
  </article>
</div>