<div id="main">
  <article id="intro">
    <h2 class="major">{{ t['intro'] }}</h2>
    <span class="image main"><img src="/images/bar.jpeg" alt="{{ t['activitiesOne'] }}" /></span>

    <h3>{{ t['cocktailBar'] }}</h3>
    <p>{{ t['cocktailsOne'] }}</p>
    <p>{{ t['cocktailsTwo'] }}</p>
    <p>{{ t['cocktailsThree'] }}</p>
    <span class="image main"><img src="/images/cocktailbar.jpeg" alt="{{ t['cocktailBar'] }}" /></span>

    <h3>{{ t['restaurant'] }}</h3>
    <p>{{ t['restaurantOne'] }}</p>
    <p>{{ t['restaurantTwo'] }}</p>
    <span class="image main"><img src="/images/restaurant.jpeg" alt="{{ t['restaurant'] }}" /></span>

    <h3>{{ t['sauna'] }}</h3>
    <p>{{ t['saunaOne'] }}</p>
    <p>{{ t['saunaTwo'] }}</p>
    <span class="image main"><img src="/images/sauna.jpg" alt="{{ t['sauna'] }}" /></span>

    <h3>{{ t['events'] }}</h3>
    <ul>
      <li>{{ t['musicEvents'] }}</li>
      <li>{{ t['drinkEvents'] }}</li>
      <li>{{ t['foodEvents'] }}</li>
      <li>{{ t['groupEvents'] }}</li>
    </ul>
    <span class="image main"><img src="/images/oktoberfest.jpg" alt="{{ t['events'] }}" /></span>

    <h3>{{ t['activities'] }}</h3>
    <p>{{ t['activitiesOne'] }}</p>
    <span class="image main"><img src="/images/pool.jpeg" alt="{{ t['activitiesOne'] }}" /></span>

    <p>{{ t['activitiesThree'] }}</p>
    <span class="image main"><img src="/images/petanque.jpeg" alt="{{ t['activitiesThree'] }}" /></span>

    <h3>{{ t['facilities'] }}</h3>
    <ul class="icons">
      <li><a href="#intro" class="icon fa-wifi"><span class="label">{{ t['wifiInternet'] }}</span></a></li>
      <li><a href="#intro" class="icon fa-car"><span class="label">{{ t['easyParking'] }}</span></a></li>
      <li><a href="#intro" class="icon fa-wheelchair"><span class="label">{{ t['accessibleToilets'] }}</span></a></li>
      <li><a href="#intro" class="icon fa-shower"><span class="label">{{ t['bathrooms'] }}</span></a></li>

    </ul>

    {% include menu.html active='intro' %}
  </article>

  <article id="menu">
    <h2 class="major">{{ t['menu'] }}</h2>
    <ul class="icons">
      <li><a href="/#menu" class="{% if page.lang == 'en' %}active{% endif %}">EN</a></li>
      <li><a href="/es/#menu" class="{% if page.lang == 'es' %}active{% endif %}">ES</a></li>
      <li><a href="/nl/#menu" class="{% if page.lang == 'nl' %}active{% endif %}">NL</a></li>
      <li><a href="/fi/#menu" class="{% if page.lang == 'fi' %}active{% endif %}">FI</a></li>
  </ul>
    <h3>{{ t['tapas'] }}</h3>
    <span class="image grid">
      {{ t['burrata'] }}
      <img src="/images/burrata.jpeg" alt="{{ t['burrata'] }}" />
      8.50 euro
    </span>

    <span class="image grid">
      {{ t['russianSalad'] }}
      <img src="/images/russian-salad.jpeg" alt="{{ t['russianSalad'] }}" />
      4.50 euro
    </span>

    <span class="image grid">
      {{ t['tunaSalad'] }}
      <img src="/images/tuna.jpeg" alt="{{ t['tunaSalad'] }}" />
      4.50 euro
    </span>

    <span class="image grid">
      {{ t['chickenWings'] }}
      <img src="/images/chicken-wings.jpeg" alt="{{ t['chickenWings'] }}" />
      4.50 euro
    </span>

    <span class="image grid">
      {{ t['cheesePlate'] }}
      <img src="/images/cheese-plate.jpeg" alt="{{ t['cheesePlate'] }}" />
      7.50 euro
    </span>

    <span class="image grid">
      {{ t['friedScampi'] }}
      <img src="/images/fried-scampi.jpeg" alt="{{ t['friedScampi'] }}" />
      4.50 euro
    </span>

    <span class="image grid">
      {{ t['nachos'] }}
      <img src="/images/nachos.jpeg" alt="{{ t['nachos'] }}" />
      5.50 euro
    </span>

    <span class="image grid">
      {{ t['bruschetta'] }}
      <img src="/images/bruschetta.jpeg" alt="{{ t['bruschetta'] }}" />
      4.50 euro
    </span>

    <span class="image grid">
      {{ t['meatballs'] }}
      <img src="/images/meatballs.jpeg" alt="{{ t['meatballs'] }}" />
      5.50 euro
    </span>

    <span class="image grid">
      {{ t['calamares'] }}
      <img src="/images/calamares.jpeg" alt="{{ t['calamares'] }}" />
      5.50 euro
    </span>

    <span class="image grid">
      {{ t['croquettes'] }}
      <img src="/images/croquettes.jpeg" alt="{{ t['croquettes'] }}" />
      4.50 euro
    </span>

    <span class="image grid">
      {{ t['garlicBread'] }}
      <img src="/images/garlic-bread.jpeg" alt="{{ t['garlicBread'] }}" />
      3.00 euro
    </span>

    <span class="image grid">
      {{ t['tortilla'] }}
      <img src="/images/tortilla.jpeg" alt="{{ t['tortilla'] }}" />
      3.00 euro
    </span>

    <span class="image grid">
      {{ t['sandwich'] }}
      <img src="/images/sandwich.jpeg" alt="{{ t['sandwich'] }}" />
      4.50 euro
    </span>

    <span class="image grid">
      {{ t['bravas'] }}
      <img src="/images/bravas.jpeg" alt="{{ t['bravas'] }}" />
      3.50 euro
    </span>

    <span class="image grid">
      {{ t['meatPlate'] }}
      <img src="/images/meat-plate.jpeg" alt="{{ t['meatPlate'] }}" />
      8.50 euro
    </span>

    <span class="image grid">
      {{ t['carpaccio'] }}
      <img src="/images/carpaccio.jpeg" alt="{{ t['carpaccio'] }}" />
      7.50 euro
    </span>
    



    {% include menu.html active='menu' %}
  </article>

  <article id="events">
    <h2 class="major">{{ t['events'] }}</h2>
    <h3>{{ t['monday'] }}</h3>
    <p>{{t['eventMonday']}}</p>
    <span class="image main"><img src="/images/mondaymarket.png" alt="{{ t['monday'] }}" /></span>
    <h3>{{ t['thursday'] }} & {{ t['saturday'] }}</h3>
    <p>{{t['eventSaturday']}}</p>
    <span class="image main"><img src="/images/paco.jpeg" alt="{{ t['eventSaturday'] }}" /></span>
    

    {% include menu.html active='events' %}
  </article>

  <article id="contact">
    <h2 class="major">{{ t['contact'] }}</h2>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.5627822338415!2d-0.6686070488856826!3d37.98733160757466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63aa1020e1b04b%3A0x9858055b0a093fe!2sPlaza+de+los+Halcones%2C+27%2C+03183+Torrevieja%2C+Alicante%2C+Spanje!5e0!3m2!1snl!2sbe!4v1559307885164!5m2!1snl!2sbe" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br><br>
    <ul class="actions">
      <li><a href="https://www.google.com/maps/dir//%2737.9873274,-0.666413%27" target="_blank" class="button">{{ t['getDirections'] }}</a></li>
      <li><a href="mailto:info@losangelestorrevieja.com" target="_blank" class="button">{{ t['sendEmail'] }}</a></li>
      <li><a href="tel:+32-496-12-59-66" target="_blank" class="button">{{ t['callNow'] }}</a></li>
    </ul>

    <h3>{{ t['openingHours'] }}</h3>
    <p>{{ t['dailyOpen'] }}</p>

    <h3>{{ t['address'] }}</h3>
    <p>
      <a href="https://www.google.com/maps/dir//%2737.9873274,-0.666413%27" target="_blank">
        Plaza de los Halcones 27 <br>
        03183 Torrevieja, Alicante, España
      </a>
    </p>
    <span class="image main"><img src="/images/map.png" alt="{{ t['address'] }}" /></span>

    <h3>{{ t['email'] }}</h3>
    <p><a href="mailto:info@losangelestorrevieja.com">info@losangelestorrevieja.com</a></p>

    <h3>{{ t['phone'] }}</h3>
    <p><a href="tel:655620836">655 620 836</a></p>

    <h3>{{ t['socialMedia'] }}</h3>
    {% include socials.html %}
    
    <h3>{{ t['recommendUs'] }}</h3>
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FLosAngelesTorrevieja%2F&width=320&layout=button_count&action=recommend&size=large&show_faces=true&share=true&height=46&appId" width="320" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    
    {% include menu.html active='contact' %}
  </article>
</div>