<ul class="actions">
  <li><a href="#intro" class="button {% if include.active == 'intro' %}primary{% endif %}">{{ t['intro'] }}</a></li>
  <li><a href="#services" class="button {% if include.active == 'services' %}primary{% endif %}">{{ t['services'] }}</a></li>
  <li><a href="https://shop.spreadshirt.es/los-angeles-store/" target="_blank" class="button {% if include.active == 'shop' %}primary{% endif %}">{{ t['shop'] }}</a></li>
  <li><a href="#contact" class="button {% if include.active == 'contact' %}primary{% endif %}">{{ t['contact'] }}</a></li>
</ul>