<ul class="actions">
  <li><a href="#intro" class="button {% if include.active == 'intro' %}primary{% endif %}">{{ t['intro'] }}</a></li>
  <li><a href="#menu" class="button {% if include.active == 'menu' %}primary{% endif %}">{{ t['menu'] }}</a></li>
  <li><a href="#events" class="button {% if include.active == 'events' %}primary{% endif %}">{{ t['events'] }}</a></li>
  <li><a href="#contact" class="button {% if include.active == 'contact' %}primary{% endif %}">{{ t['contact'] }}</a></li>
</ul>