<ul class="actions">
  <li><a href="#intro" class="button {% if include.active == 'intro' %}primary{% endif %}">{{ t['intro'] }}</a></li>
  <li><a href="https://www.losangelescarrental.es" target="_blank" class="button {% if include.active == 'cars' %}primary{% endif %}">{{ t['cars'] }}</a></li>
  <li><a href="#events" class="button {% if include.active == 'events' %}primary{% endif %}">{{ t['events'] }}</a></li>
  <li><a href="#contact" class="button {% if include.active == 'contact' %}primary{% endif %}">{{ t['contact'] }}</a></li>
</ul>